* {
    margin: 0;
    padding: 0;
    font-family: "Cera pro", "Trebuchet MS", sans-serif;
    color: rgb(255, 255, 255);

}

.main {
    background-color: rgb(14, 16, 18);
    padding-right: 40px;
    padding-left: 40px;

}
/*---------------------------------la partie en-tete----------------------------------------------------------------------*/
.logo{
    display: flex;
    flex-direction:row;
    height:61px;
}
.mapbox {
    color: rgb(255, 255, 255);
    width:100px;
}
.lete{
    color: white;
    text-align: center;
    font-size:18px;
    padding-top: 22px;
}

body {
    position: relative;
    /* background-color: rgba(14, 16, 18, 0.75); */
    font-size: 14px;
    line-height: 20px;
}

i {
    color: rgb(255, 255, 255);
}

li {
    position: relative;
    display: inline-block;
    height: 61px;
    display: flex;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    backdrop-filter: blur(10px);
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    /* background-color: rgba(14, 16, 18, 0.75); */
}

a:hover {
    color: rgb(0, 122, 252);
}

.bi-chevron-down {
    font-size: 11px;
    font-weight: bolder;
    transition: all .5s;
}

.liens {
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
}

.lien {
    display: inline-flex;
    margin-right: 30px;
    position: relative;
    height: 100%;
}

/*les liens*/
.lien-product {
    z-index: 1;
}

div.lien:hover li i.bi-chevron-down {
    transform: rotate(180deg);
    display: inline-block;
    transition: all .5s;
}

.product-hover {
    visibility: hidden;
    top: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 8px;
    padding: 20px !important;
    height: 60vh;
    /* width: 60%; */
    left: -320%;
}


.fleche-link,
.fleche {
    position: absolute;
    /* background-color: rgb(22, 26, 29); */
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    left: 52px;
    top: 52px;
    border-radius: 3px;
    visibility: hidden;
}

.lien:hover .fleche-link {
    visibility: visible;
}

.main-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.lien:hover div {
    visibility: visible;
    z-index: 10;
    opacity: 1;
    background: rgb(22, 26, 29);
}

.bi-chevron-down {
    font-size: 12px !important;
}

.main-section {
    width: 32%;
    position: relative;
}


h2 {
    font-size: 14px;
    line-height: 20px;
    color: rgb(160, 170, 186);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

p {
    max-width: 250px;
    margin-top: 2px;
    transition: color 50ms ease 0s;
    color: rgb(139, 150, 170);
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}

.main-section {
    width: 350px;
}

.menu {
    position: absolute;
    z-index: 1;
    display: flex;
    padding: 32px 40px;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: 8px;
    perspective: 2000px;
    transform: translate(27.5%, 0px);
    left: -100px;
    flex-direction: column;
    top: 60px;
    visibility: hidden;

}

.menu-link {
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.icon {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 280px;
}

.icones {
    font-size: 1.3rem;
    text-align: center;
    color: rgb(0, 122, 252);
}

.icon-bi {
    margin-right: 16px;
    width: 35px;
    height: 35px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 50%;
    /* background-color: rgba(17, 31, 54, 0.486); */
}



/*----------------------------------------------------le caroussel-------------------------------------------------------------------*/
.caroussel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    background-color: rgb(14, 16, 18);
}
.main-slider{
    width: 840px;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}
.content-slide{
    width: 840px;
    height: 400px;
    border: none ;
}
.img_slide{
    height: 0px;
    width: 0px;
    object-fit: cover;
    transition: all 1s ease;
    top: 0px;
    left: 50%;
    z-index: -58;
    position: absolute;
    opacity: 0;
    border-radius: 30px;
    transform: translateX(0px) translateY(0px) translateX(-50%) translateX(0px) translateZ(0px);
    
}
.active{
    opacity: 1;
    width: 800px !important;
    height: 400px !important;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 1s ease;
    z-index: 50;
    transform: translateX(0px) translateY(0px) translateX(0px) translateX(0px) translateZ(0px);
    box-shadow: rgb(14 16 18) 0px 0px 100px 50px;
    border-radius: 24px;
}
.shadow{
    transform: translateX(0px) translateY(-25%) translateX(-600px) translateZ(-300px);
    z-index: -1;
    opacity: 0.333333;
    visibility: visible;
    width: 600px;
    height: 300px;
    left: 25%;
    top: 25%;
    transition: all 1s ease;
    z-index: 40;
}
.shadow1{
    text-align: right;
    width: 600px;
    height: 300px;
    top: 25%;
    transform: translateX(0px) translateY(-25%) translateX(-50px) translateZ(0px);
    z-index: 2;
    left: 75%;
    opacity: 0.333333;
    visibility: visible;
    transition: all 1s ease-out;

}
.chev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100px;
    font-size: 30px;
}
.next, .prev{
    cursor: pointer;
    opacity: .5;
}
.next:hover, .prev:hover{
    opacity: 1;

}

.maps {
    border: 1px solid rgb(0, 49, 101);
    border-radius: 8px;
    padding: 20px;
}


/*btn*/
.signup {
    position: relative;
    padding: 5px 10px;
    border-radius: 100px;
    background-color: rgb(0, 122, 252);
    transition: all 150ms ease 0s;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    border: none;
}

/*--------------------------------------------------------le titre principal----------------------------------------------*/
.title-gen {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -0.025em;
    font-weight: 700;
    max-width: 656px;
    text-align: center;

}

.main-title {
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cheat-gen {
    max-width: 540px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
    letter-spacing: -0.01em;
    font-weight: 400;
    text-align: center;
}

.link {
    padding-right: 24px !important;
    padding-left: 24px !important;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 20px;
}



.slide-img {
    width: 500px;
}

img {
    width: 100%;
}


/* ----------------------------------------------les SVGs----------------------------------------------------------- */
.maink-link-svg {
    text-align: center;
    margin-bottom: 60px;
}

.svgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    color: rgb(86, 97, 113);
    margin: 0 auto;
    height: 300px;
}

.svg {
    width: 125px;
    margin-bottom: 60px;
}

.title-svg {
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
}


/*-------------------------------------------------letecode----------------------------------------*/
.title-navigation {
    margin-bottom: 24px;
    font-size: 44px;
    line-height: 48px;
}

.cheat-nav {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
    text-align: left !important;
}

.exp {
    color: rgb(255, 255, 255);
    background: transparent;
    padding: 12px 20px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid rgb(86 97 113);
    cursor: pointer;
}

.exp:hover {
    border-color: rgb(0, 122, 252);
    color: rgb(0, 122, 252);
    background-color: rgba(0, 122, 252, .15);
}

.exp:hover>i {
    display: inline-block;
    margin-left: 5px;
    color: rgb(0, 122, 252);
}

.content-navigation {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 90px;
}

.phone {
    width: 30%;
    height: 550px;
    border-radius: 10px;
    margin: 20px;
    object-fit: cover;
}
.phone1{
    width:65%;
    height:500px;
    border-radius: 10px;
    object-fit: cover;

}
/*--------------------------------------------letecode community-----------------*/
.main-studio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
}

.studio {
    width: 100%;
    border-radius: 10px;
}

.content-img {
    width: 49%;
}

/*-------------------------------------------------letecode academie------------------------------------*/
.content-img-map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.maps-bottom {
    margin-bottom: 60px;
}

.maps-left,
.maps-rigth {
    width: 400px;
    height: 300px;
}

.maps-left {
    margin-left: -65px;
    z-index: 6;
}

.maps-rigth {
    margin-top: -65px;
    margin-right: -35px;
}

/*----------------------------------------letecode articles------------------------------------------------*/
.img-straight {
    width: 500px;
    height: 350px;

}

.straight {
    max-width: 350px;
}

.main-straightaway {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    overflow: hidden;
    height: 500px;
    padding: 16px 16px 16px 60px;
    border-radius: 16px;
}





.bottom {
    padding-top: 90px;
    padding-bottom: 90px;
}


.main-ready {
    display: flex;
    padding: 50px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: rgb(22, 26, 29);
    text-align: center;
    width: 70%;
    height: 250px;
}

.title-ready {
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 16px !important;
}

.cheat-ready {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 400;
}

.login-ready {
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    border: 1px solid rgb(86 97 113);
    margin-left: 5px;
}

/*-------------------------------------------------------------le footer--------------------------------------------*/
.link-foot {
    display: block;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(160, 170, 186);
}

.main-foots {
    display: flex;
    background-color: rgb(14, 16, 18);
    justify-content: space-between;
}

.social {
    height: 20px;
    width: 20px;
    margin-left: 16px;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.security {
    display: flex;
}

.map-cpr {
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: rgb(160, 170, 186);
}

.cpr-link {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: rgb(160, 170, 186);
    margin-right: 24px;
}



#btn-resp{
    display: none;
}
.bi-list.ctive{
    color: black;
    
}
.bi-x{
    font-size: 2.5rem;
    
}
.btn-resp_position{
    position: absolute;
    z-index: 30 !important;
    left: 17%;
}
/* le responsive */
.nav_resp{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(14, 16, 18, 0.38);
    display: flex;
    justify-content: end !important;
    align-items: flex-end !important;
    z-index: 3;
    top: 0;
    display: none;
}
.visible{
    display: block;
    display: flex;
}
  
.content-list{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 34px;
}
.top{
    margin-top: 64px !important;
}
.link-list{
display: inline-block; 
    color: rgb(14, 16, 18);
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
    width: max-content;
}
.bi-person-circle, .bi-box-arrow-right, .bi-code, .bi-file-code, .bi-tv, .bi-moon-fill{
    color: rgb(14, 16, 18);
    margin-right: 5px;
}
@media screen and (max-width: 991px) {
    .bar-menu {
        width: 20px;
        height: 2px;
        background-color: rgb(255, 255, 255);
    }
    #btn-resp{
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        display: block;
        width: 44px;
        height: 44px;
        z-index: 100;
    }

    /* .menu-resp {
        display: flex;
        
        margin-left: 8px;
        cursor: pointer;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 1001;
    } */
    .log-sign{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title-gen{
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 16px;
        max-width: 464px;
    }
    .menu-lien{
        display: none;
    }    
    .link{
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 48px;
    }

}

@media screen and (max-width: 767px) {
    .menu-responsive{
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0,);
        z-index: 80;
    }
    .login{
        display: none;
    }
    .title-gen{
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 12px;
        max-width: 464px;
    }
    .active{
        top: 10%;
        width: 40% !important;
        height: 220px !important;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .shadow, .shadow1{
        height: 180px;
        z-index: -1;
    }
    .shadow{
        left: 40%;
    }
    .shadow1{
        left: 72%;
    }
    .link{
        padding-right: 20px;
        padding-left: 20px;
    }
    .d-none{
        display: none;
    }
    .fl-culumn{
        display: flex;
        flex-direction: column;
    }
    .fl-culumn-reverse{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .wd100{
        width: 100%;
        height: max-content !important;
        margin-top: 20px;
    }
    .svg{
        width: 65px;
        text-align: right;
    } 

}

@media screen and (max-width: 479px) {
   
    .left-svg{
        text-align: left;
    }
    .svgs{
        height: max-content;
        margin-right: 25px !important;
    }
}